body {
    font-family: "Ubuntu", sans-serif;
    background-color: #B72CDD;
    box-sizing: border-box;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #2CDADD;
    height: 70px;
    align-items: center;
}

.header figure{
    margin: 0 0 0 20px;
    width: 120px;
    height: 50px;
}

.header figure img{
    width: inherit;
    height: inherit;
}

.menu{
    height: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: inherit;
}

li{
    height: inherit;
}

.link {
    text-decoration: none;
    color: #fff;
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 0 10px;
}

a{
    height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fjalla One", sans-serif;
}

.main {
    height: 300px;
    background-image: url(/images/29166715-ordenador-portátil-tablet-smartphone-y-una-taza-de-café-con-los-documentos-financieros-de-mesa-de-madera.jpg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2CDADD;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

h1 {
    line-height: 150%;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -0.2px;
    margin-right: 500px;
}

.main span{
    color: blue;
}

h2{
    margin: 0 25px;
    padding: 30px 0;
    font-size:50px;
    color: #FF1111;
    font-weight: bold;
}

.projects{
    display: flex;
    padding: 0 30px;
}

.project{
    display: flex;
    margin: 0 20px 40px o;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    background-color: #3DF424;
    overflow: hidden;
}

.project-container-image{
    margin: auto;
    padding-right: 20px;
    width: inherit;
    height: inherit;
}

.project-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.experiences{
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
}

.experience{
    border: 1px solid #000fff;
    margin: 0px 20px 40px 0px;
    border-radius: 10px;
    background-color: gray;
    width: 480px; 
    overflow: hidden;
    flex-wrap: wrap;
    
}

.experience-container-image{
    margin: 0;
    width: inherit;
    height: 200px;
    
}

.experience-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.experience-down{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.experience-title{
    margin: 0;
}

.experience-description{
    text-align: left;
}

.experience-down input{
    border: 1px solid #000fff;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;  
}

.experience-mainTitle{
    margin-left: 30px; 
}

.footer{
    background-color: #8675a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.footer-details{
    display: flex;
    align-items: center;
}

.footer-details img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}